.searcher .row2 {
    margin-right: 0px;
    margin-left: 0px;
}

.col-in-line {
    display: inline-block;
    margin-right: 2em;
}

.form-request {
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-top: 0.5em;
}

.btn-request {
    height: 3em;
    margin-top: 1em;
}

.results-panel {
    height: 80vh;
    margin-top: 1em;
}

.col-in-line .count {
    width: 4em;
}

.border-map{
    margin-right: 1em;
}